body {
  background-color: #fffefc;
  font-family: 'libre_baskervilleregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
}

img {
  width: 100%;
  display: block;
  box-shadow: 0;
  transition: box-shadow 0.5s;
}

img:hover {
  box-shadow: 3px 3px 15px grey;
  ;
}

.album {
  width: 50%;
  float: left;
  position: fixed;
  text-align: center;
}

.lyrics {
  width: 50%;
  float: right;
  text-align: center;
}
