@font-face {
    font-family: 'Heebo-Black';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Black.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Bold';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Bold.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-ExtraBold';
    src: url('https://yeeeeecheng.github.io/font/Heebo-ExtraBold.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-ExtraLight';
    src: url('https://yeeeeecheng.github.io/font/Heebo-ExtraLight.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Light';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Light.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Medium';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Medium.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Regular';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Regular.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-SemiBold';
    src: url('https://yeeeeecheng.github.io/font/Heebo-SemiBold.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskervillebold';
    src: url('https://yeeeeecheng.github.io/font/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('https://yeeeeecheng.github.io/font/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('https://yeeeeecheng.github.io/font/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #fffefc;
  font-family: 'libre_baskervilleregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
}

img {
  width: 500px;
}

.lyrics {
  text-align: center;
}
