@font-face {
    font-family: 'Heebo-Black';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Black.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Bold';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Bold.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-ExtraBold';
    src: url('https://yeeeeecheng.github.io/font/Heebo-ExtraBold.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-ExtraLight';
    src: url('https://yeeeeecheng.github.io/font/Heebo-ExtraLight.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Light';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Light.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Thin';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Thin.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Medium';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Medium.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Regular';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Regular.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-SemiBold';
    src: url('https://yeeeeecheng.github.io/font/Heebo-SemiBold.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskervillebold';
    src: url('https://yeeeeecheng.github.io/font/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('https://yeeeeecheng.github.io/font/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('https://yeeeeecheng.github.io/font/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Noto Serif*/
@font-face {
    font-family: 'noto_serif_tcblack';
    src: url('https://yeeeeecheng.github.io/font/notoseriftc-black-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/notoseriftc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_serif_tcbold';
    src: url('https://yeeeeecheng.github.io/font/notoseriftc-bold-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/notoseriftc-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_serif_tcextralight';
    src: url('https://yeeeeecheng.github.io/font/notoseriftc-extralight-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/notoseriftc-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_serif_tclight';
    src: url('https://yeeeeecheng.github.io/font/notoseriftc-light-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/notoseriftc-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_serif_tcmedium';
    src: url('https://yeeeeecheng.github.io/font/notoseriftc-medium-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/notoseriftc-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_serif_tcregular';
    src: url('https://yeeeeecheng.github.io/font/notoseriftc-regular-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/notoseriftc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_serif_tcsemibold';
    src: url('https://yeeeeecheng.github.io/font/notoseriftc-semibold-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/notoseriftc-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #fffefc;
  font-family: 'Heebo-ExtraLight', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
}

.lyrics {
  text-align: center;
}

.navbar {
  padding: 30px;
}

.nav-item, breadcrumb-item {
  font-family: 'Heebo-Light', Arial, sans-serif;
  font-size: 20px;
}

.navbar-brand {
  font-family: 'Heebo-Black', Arial, sans-serif;
  font-size: 30px;
}

.intro_text {
  color: #c2b188;
}

.entrance_page_brand_logo {
  font-family: 'Heebo-Black', Arial, sans-serif;
  font-size: 80px;
}

.title-in-contact {
  text-align: center;
}

.map-responsive{
  overflow: hidden;
  padding-bottom: 60%;
  position: relative;
  height: 0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.bi {
  font-size: 3rem;
  text-align: center;
  padding: 0.001rem;
  color: #c2b188;
}

.contact-info {
  font-family: 'Heebo-Light';
}

.homep:link {
  color: #b8b8b8;
  background-color: transparent;
  text-decoration: none;
}

.text-box {
  font-family: 'Heebo-Medium', Arial, sans-serif;
}
/*
a[target="_blank"]:link, a[target="_blank"]:visited {
  background-color: #c2b188;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a[target="_blank"]:hover, a[target="_blank"]:active {
  background-color: #c2b188;
}
*/
