@font-face {
    font-family: 'Heebo-Black';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Black.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Bold';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Bold.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-ExtraBold';
    src: url('https://yeeeeecheng.github.io/font/Heebo-ExtraBold.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-ExtraLight';
    src: url('https://yeeeeecheng.github.io/font/Heebo-ExtraLight.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Light';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Light.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Medium';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Medium.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-Regular';
    src: url('https://yeeeeecheng.github.io/font/Heebo-Regular.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Heebo-SemiBold';
    src: url('https://yeeeeecheng.github.io/font/Heebo-SemiBold.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/Heebo-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskervillebold';
    src: url('https://yeeeeecheng.github.io/font/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('https://yeeeeecheng.github.io/font/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('https://yeeeeecheng.github.io/font/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('https://yeeeeecheng.github.io/font/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #fffefc;
  font-family: 'libre_baskervilleregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
}
/*
img {
  width: 500px;
}
*/

img {
  width: 65%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.album_pic {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.album_pic:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.lyrics {
  text-align: center;
}

.navbar {
  padding: 30px;
}

.nav-item {
  font-family: 'Heebo-Thin', Arial, sans-serif;
  font-size: 20px;
}

.navbar-brand {
  font-family: 'Heebo-Black', Arial, sans-serif;
  font-size: 30px;
}

.intro_text {
  color: #c2b188;
}

.entrance_page_brand_logo {
  font-family: 'Heebo-Black', Arial, sans-serif;
  font-size: 80px;
}
