#round-end-button {
    height: 50%;
    weight: 10%;
    text-align: center;
    font-size: 1.5em;
    background-color: #ffffff;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px;
    border: 1px solid #dedede;
    border-radius: 4px;
}