#round-end-button {
    height: 10%;
    width: 30%;
    text-align: center;
    font-size: 1.5em;
    background-color: #ffffff;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 3px #bababa;
    border: 1px solid #ffffff;
    border-radius: 4px;
}