#round-end-button {
    text-align: center;
    font-size: 2em;
    background-color: #ffffff;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px;
}