.container{
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
}

.parallax{
    background: url('https://upload.cc/i1/2020/07/18/YB0Ohg.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}